body {
    cursor: none; /* Hide the default cursor */
}

.custom-cursor {
    width: 20px;
    height: 20px;
	background: #ffffff6b;
    border: 1px solid #001aff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 1000;
}
.custom-cursor--large {
	width: 35px;
	height: 35px;
	border-radius: 20%;
}
