@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lato", sans-serif;
	cursor: none;
}

body {
	background: #f5f5f5;
}

a {
	text-decoration: none;
	color: inherit;
	line-height: 1;
	/* cursor: pointer; */
}

.container {
	padding-left: 5%;
	padding-right: 5%;
}
/* ===================================btn wite */
.btn {
	background: #fff;
	padding: 14px 25px;
	/* cursor: pointer; */
	border: 0;
	outline: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	position: relative;

}
.btn a {
	font-size: 1rem;
	color: #212ea0;
	z-index: 2;
}
.btn img {
	z-index: 2;
}
.btn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #212ea017;
	transition: all 0.35s;

}

.btn:hover:after {
	width: 100%;
}
/* ===================================btn blue */
.dark-btn {
	background: #fff;
	padding: 14px 25px;
	/* cursor: pointer; */
	border: 0;
	outline: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	position: relative;

}
.dark-btn a {
	font-size: 1rem;
	color: #212ea0;
	z-index: 2;
}
.dark-btn img {
	z-index: 2;
}
.dark-btn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #9ba5ff20;
	transition: all 0.35s;

}

.btn:hover:after {
	width: 100%;
}
.btn img {
	width: 20px;
	margin-left: 10px;
}

.btn.dark-btn {
	background: #212ea0;
	color: #fff;
}
